<!-- this form displays data from json-->

<div ng-controller="myCtrl">
<!-- <p>{{ans}}</p>-->
</div>   
<mat-accordion>
    <mat-expansion-panel *ngFor = "let main of mains$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Post number: {{main.id}} 
          <br>
          {{main.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      Post: {{main.body}}   
      <br>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="savePost (main.id, main.title, main.body )"> Save </button>
            </mat-card-actions> 
      <br>
      Comments:
      <span *ngFor = "let comment of comments$">
          <span *ngIf="main.id == comment.postId">
         <br> {{comment.body}}
          </span>
      </span>
    </mat-expansion-panel>
  </mat-accordion>


  


  
